<form class="container text-center" id="form" action="/login" method="POST">
  <div class="form-group">
    <label for="email"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="email" placeholder="Your email">
  </div>
  <div class="form-group">
    <label for="password"></label><br>
    <input type="password" class="form-control-lg border border-primary" name="password" placeholder="password">
  </div>
  <button class="btn btn-primary" type="submit">log in</button>
  <p>
    Don't have an account? <a href="/signup">Sign up</a>
  </p>

  <a href="/">Cancel</a>
</form>
