<form id="form" action="/signup" method="POST">

  <label for="username"></label><br>
  <input type="text" name="username" placeholder="Your username">

  <label for="password"></label><br>
  <input type="password" name="password" placeholder="password">

  <label for="userDescription"></label><br>
  <input type="text" name="userDescription" placeholder="userDescription">

  <label for="accomodationAddress"></label><br>
  <input type="text" name="accomodationAddress" placeholder="accomodationAddress">

  <label for="accomodationDescription"></label><br>
  <input type="text" name="accomodationDescription" placeholder="accomodationDescription">

  <% if (errorMessage) { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
  <% } %>

  <button type="submit">Create account</button>
</form>
<br><br>
<a href="/">Go Back</a>