<form id="form" action="/signup" method="POST">
  <label for="name"></label><br>
  <input type="text" name="name" placeholder="Your first name">

  <label for="lastname"></label><br>
  <input type="text" name="lastname" placeholder="Your lastname">
  
  <label for="username"></label><br>
  <input type="text" name="username" placeholder="Your username">

  <label for="password"></label><br>
  <input type="password" name="password" placeholder="password">

  <button type="submit">Create account</button>
</form>
<br><br>
<a href="/">Go Back</a>