<html>
  <head>
    <title>TravelBID</title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>