<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TravelBID</title>
   <!-- <link rel="stylesheet" href="stylesheets/reset.css">-->
  <link rel="stylesheet" href="http://localhost:3000/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel='stylesheet' href="http://localhost:3000/stylesheets/style.css">
</head>
<body>
<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="http://localhost:3000/img/wind-rose.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Travel-BID
  </a>
</nav>
<div class="container">
<%- include('../partials/notifications') %>
  <%- body %>
</body>
</html>

