<h1>TravelBID</h1>
<h5>TravelBID is an open platform enabling users to offer and find short 
stay accommodation around the world. Accomodation seekers are able to post offers 
indicating stay duration, location, and budget. Accommodation providers can see all
offers posted by seekers and bid in order to provide the service.</h5> <br> <br>

<a href="/login">Login</a>
<p>Not a member? <a href="/signup">Signup</a></p>



<!-- Partial include example -->
<!-- <%- include('partials/form.ejs')%> -->