<div class="landing-page">
  <div class="landing-elements">
    <h1>Travel-BID</h1>
    <h5>Happiness is a way of travel, not a destination</h5> <br> <br>

    <button class="btn btn-primary"><a href="/login">Login</a></button>
    <p>Not a member? <a href="/signup">Signup</a></p>
  </div>
</div>


