<div class="landing-page">
<h1>Travel-BID</h1>
<h5>Happiness is a way of travel – not a destination</h5> <br> <br>

<a href="/login">Login</a>
<p>Not a member? <a href="/signup">Signup</a></p>
</div>


