<h1>Welcome</h1>

<h4>Edit profile</h4>
<br>
<h4><a href="/users/myoffers">View your offers & BIDS</a></h4>
<br>
<h4><a href="/users/create">Create an offer</a></h4>
<br>
<h4>Search for offers</h4>
<br>
<a href="/logout">Logout</a>