<form class="container" id="form" action="/dashboard/offer/<%= id%>/bidnew" method="POST">
  <div class="form-group">
    <label for="bidValue"></label><br>
    <input type="number" name="bidValue" placeholder="value">
  </div>
  <div class="form-group">
    <label for="bidDescription"> Description:</label>
    <input type="text" id="bidDescription" name="bidDescription">
  </div>
  <button class="btn btn-primary" type="submit">New Bid</button>
 
</form>
<br><br>
<a href="/">Go Back</a>