<form id="form" action="/dashboard/offer/<%= id%>/bidnew" method="POST">

  <label for="bidValue"></label><br>
  <input type="number" name="bidValue" placeholder="value">

  <label for="bidDescription"> Description:</label>
  <input type="text" id="bidDescription" name="bidDescription">

  <button type="submit">New Bid</button>
 
</form>
<br><br>
<a href="/">Go Back</a>