<form class="container text-center" id="form" action="/dashboard/offer/<%= id%>/bidnew" method="POST">
  <div class="form-group">
    <label for="bidValue"></label><br>
    <input type="number" class="form-control-lg border border-primary" name="bidValue" placeholder="Value">
  </div>
  <div class="form-group">
    <label for="bidDescription"></label>
    <input type="text" class="form-control-lg border border-primary" id="bidDescription" name="bidDescription" placeholder="Description">
  </div>
<!--  <div class="form-group"> 
    <label for="accomodationAddress"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="accomodationAddress" placeholder="Enter address" value="<%= user.accomodationAddress %>">
  </div>
  <div class="form-group">
    <label for="accomodationDescription"></label><br>
    <input type="text" class="form-control-lg border border-primary" name="accomodationDescription" placeholder="Describe" value="<%= user.accomodationDescription %>">
  </div>-->
  <button class="btn btn-primary" type="submit">New Bid</button>
 
</form>
<br><br>
<a href="/">Go Back</a>