<form id="form" action="/dashboard/create" method="POST">
  <label for="from">From:</label>
  <input type="date" id="from" name="from">

  <label for="until"> Until:</label>
  <input type="date" id="until" name="until">

  <label for="location"> Location:</label>
  <input type="text" id="location" name="location">

  <label for="budget"></label><br>
  <input type="text" name="budget" placeholder="budget">

  <button type="submit">Create Offer</button>
 
</form>
<br><br>
<a href="/">Go Back</a>
