
<html>
  <head>
  <meta charset='utf-8' />
  <title>Set a point after Geocoder result</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://rawgit.com/mapbox/mapbox-gl-markers/master/dist/mapbox-gl-markers.js'></script>
  <link href='https://rawgit.com/mapbox/mapbox-gl-markers/master/dist/mapbox-gl-markers.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map {  width:100%; height: 100%}
  </style>
  </head>
<body>

 <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />
  <style>
    #geocoder-container > div {
    min-width:50%;
    margin-left:25%;
    }

    .marker {
      background-image: url('mapbox-icon.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }
  </style>


  <div id='map' style="margin-bottom: 10%"></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWFyZ2FsIiwiYSI6ImNqdDRqbGJ2MzA0Mmc0NG55Y29sNnR1djUifQ.7_iCD0Qq6rri-WgOaFmCAg';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v9',
  center: [2.1734, 41.3851],
  zoom: 10
});
<%console.log(roomsArray)%>
<%roomsArray.forEach((room) => { %>
  var popup = new mapboxgl.Popup()
  .setText("<%=room.accomodationDescription%>")
  .setText("<%=room.accomodationDescription%>")
  new mapboxgl.Marker({name: 'a',anchor: 'center', color:'blue'})
  .setLngLat([<%=room.location.coordinates%>])
  .setPopup(popup)
  .addTo(map);
<% }) %>

// var geojson = {
//   type: 'FeatureCollection',
//   features: [{
//     type: 'Feature',
//     geometry: {
//       type: 'Point',
//       coordinates: [-51.2158203125, -15.97189158092897]
//     },
//     properties: {
//       title: 'Mapbox',
//       description: 'Washington, D.C.'
//     }
//   },
//   {
//     type: 'Feature',
//     geometry: {
//       type: 'Point',
//       coordinates: [-61.2158203125, -15.97189158092897]
//     },
//     properties: {
//       title: 'Mapbox',
//       description: 'San Francisco, California'
//     }
//   }]
// };



// // add markers to map
// geojson.features.forEach(function(marker) {
// // create a DOM element for the marker
// var el = document.createElement('div');
// el.className = 'marker';
// el.style.backgroundImage = 'url(https://placekitten.com)';
// el.style.width = 20+'px';
// el.style.height = 20+'px';
 
// el.addEventListener('click', function() {
// window.alert(marker.properties.message);
// });
 
// // add marker to map
// new mapboxgl.Marker(el)
// .setLngLat(marker.geometry.coordinates)
// .addTo(map);
// });

// map.addControl(new MapboxMarkers(geojson)); 

// map.on('load', function() {
//   map.addSource('single-point', {
//   "type": "geojson",
//     "data": {
//     "type": "FeatureCollection",
//     "features": []
//   }
// });

//   map.addLayer({
//     "id": "point",
//     "source": "single-point",
//     "type": "circle",
//     "paint": {
//       "circle-radius": 10,
//       "circle-color": "#007cbf"
//     }
//   });  
// });

</script>